@media only screen and (max-width: 1100px) {
    .title {
        padding-top: 43px;
    }

    .text {
        padding-top: 22px;
    }
}

@media only screen and (max-width: 550px) {
    .img a {
        height: 4.5rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .butt a button {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 330px) {
    .img a {
        height: 3.7rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .butt a button {
        font-size: 0.7rem;
    }

    .admin {
        font-size: 15px;
    }
}